{{!--
This search template is used to display the search form.
--}}

<div class="site-search-form">
    <label class="sr-only" for="search">Search</label>
    <input id="search" class="filter-table site-search-input st-default-search-input" type="text" placeholder="Search the WonderProxy blog"  />
</div>