.m-logo {
  align-items: center;
  width: 148px;
  height: 20px;
  background-size: 148px 20px;
  object-fit: contain;
  background-image: url("/assets/images/wonderproxy-colour.svg");
   
  @include respond-to('medium') {
    background-size: 197px 27px;
    width: 197px;
    height: 27px;
    display: flex;
  }
  @include respond-to('large') {
    background-size: 296px 40px;
    width: 296px;
    height: 40px;
    display: flex;
  }

  [data-theme="dark"] & {
     background-image: url("/assets/images/wonderproxy-white.svg");
  }
}
